<a href="https://colab.research.google.com/github/seonghaiiiii/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
print(lines)

for line in lines:
  fields = line.split(",")
  print(fields)
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
['John', '30', 'Engineer']
Name: John Age: 30 Occupation: Engineer
['Alice', '25', 'Designer']
Name: Alice Age: 25 Occupation: Designer
['Bob', '22', 'Artist']
Name: Bob Age: 22 Occupation: Artist

In [7]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [9]:
a = list(map(str,input().split()))
print(a)

Geeks for Geeks
['Geeks', 'for', 'Geeks']

In [10]:
a = "Geeks for Geeks"
b = a.split(" ")
print(b)

['Geeks', 'for', 'Geeks']

In [12]:
a = ['Geeks', 'for', 'Geeks']
b = "-".join(a)
print(b)

Geeks-for-Geeks

In [13]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [14]:
a = [x**2 for x in range(3,21,3)]
print(a)

[9, 36, 81, 144, 225, 324]

In [15]:
a = [x**2 for x in range(3,21) if x%3==0]
print(a)

[9, 36, 81, 144, 225, 324]

In [16]:
a = list(map(int,input().split()))
b = [x**2 for x in a]
print(b)

1 2 3 4 5
[1, 4, 9, 16, 25]

In [17]:
a = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
b = [x for x in a if x[0]=='S']
print(b)

['Seoul', 'Shanghai']

In [18]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [19]:
a = ['a','b','c']
for x,y in enumerate(a):
  print("fruit%d name is %s"%(x,y))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [22]:
a = ['a','b','c']
for x in range(len(a)):
  print("fruit%d name is %s"%(x,a[x]))
  x+=1

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [27]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [38]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
print("{",end="")
for a,b in zip(name,roll_no):
  print("('%s',%d)"%(a,b),end='')
  if a!='A':
    print(",",end='')
print("}",end="")

{('M',4),('N',1),('S',3),('A',2)}

In [41]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
a = dict(zip(name,roll_no))
print(a)

{'M': 4, 'N': 1, 'S': 3, 'A': 2}

In [33]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]
i=0
for a,b in zip(names,ages):
  print(i,a,b)
  i+=1

0 M 24
1 R 50
2 C 18

In [35]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]

for a,b in enumerate(dict(zip(names,ages))):
  print(a,b,dict(zip(names,ages))[b])

0 M 24
1 R 50
2 C 18

In [42]:
double = lambda x: x * 2
print(double(5))

10

In [46]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x*2, numbers))
print(squared)

[2, 4, 6, 8]