<a href="https://colab.research.google.com/github/seonghaiiiii/aipython/blob/main/240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
while  a <= 3 :
  print('안녕', a)
  a+=1

안녕 1
안녕 2
안녕 3

In [ ]:
BASE_SIZE = 10
for r in range(BASE_SIZE):
  for c in range(BASE_SIZE - r):
    print('*', end='')
  print()

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
BASE_SIZE = 10
for r in range(BASE_SIZE):
  for c in range(r+1):
    print('*', end='')
  print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(1,5):
  print(i, "Welcome")
  for j in range(1,4):
    print(j, "Hello")
print("Done")

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [ ]:
a,b,c = map(int, input().split())

if (b<a<c) | (c<a<b):
  print(a)
elif (a<b<c) | (c<b<a):
  print(b)
else: print(c)

20 30 10
20

In [ ]:
a,b,c = map(int, input().split())
num = [a,b,c]
num.sort()
print(num[1])

20 30 30 30854 5
30

In [ ]:
nums = [1,2,3]
nums[1] = 0
print(nums)

[1, 0, 3]

In [ ]:
#tuple에서 오류
# nums = (1,2,3)
# nums[1] = 0

TypeError: ignored

In [54]:
a=[10,20,30]
print("최솟값:", min(a))
print("최댓값:", max(a))
print("합 계:", sum(a))

최솟값: 10
최댓값: 30
합 계: 60

In [56]:
a = ['10','20','30']
a=list(map(int,a))
print(sum(a))
print(a)

60
[10, 20, 30]

In [58]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
print(score[0])
print(score[1][1])

[29, 28, 27, 30]
20

In [60]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for sc in score:
  print(sc)

[29, 28, 27, 30]
[30, 20, 27, 29]
[23, 25, 29, 30]

In [71]:
score= [[29, 28, 27, 30],
  [30, 20, 27, 29],
  [23, 25, 29, 30]]
for r in range(len(score)):
  for c in range(len(score[r])):
    print(score[r][c], end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [62]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for sc in score:
  for c in sc:
    print(c, end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [79]:
score = []
while True:
  a = input("학생의 점수를 입력하세요.")
  if(a.isdigit()):
    score.append(a)
  else: break
score = list(map(int,score))
print("합계 : ",sum(score))
print("인원수 : ",len(score))
print("평균 : ",sum(score)/len(score))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
합계 :  190
인원수 :  3
평균 :  63.333333333333336