<a href="https://colab.research.google.com/github/seonghaiiiii/aipython/blob/main/240102_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = 10

number = 20

result = number * 2

print(result)

40

In [ ]:
a=int(input("당신의 나이는?"))
print(a,"살 이군요.")
print("내년엔",a+1,"살이 되네요")
print(type(a))

당신의 나이는?2546
2546 살 이군요.
내년엔 2547 살이 되네요
<class 'int'>

In [ ]:
a=int(input("당신의 나이는?"))
msg = str(a) + '살 이군요.'
print(msg)
print("내년엔",a+1,"살이 되네요")
print(type(a))

당신의 나이는?24
24살 이군요.
내년엔 25 살이 되네요
<class 'int'>

In [ ]:
a = "파이썬"
print(a,"아 반가워")

msg = a+"아 반가워"
print(msg)

b=20
print("%s아 반가워~ %d살 이구나"%(a,b))

파이썬 아 반가워
파이썬아 반가워
파이썬아 반가워~ 20살 이구나

In [ ]:
a=24; b=21; c=(a+b)/2
print(c)
print("%d"%c)
print("%4d"%c)
print("%f"%c)
print("%3.1f"%c)
print("%50.7f"%c)

22.5
22
  22
22.500000
22.5
                                        22.5000000

In [ ]:
print("오늘은 {}월 {}일 입니다.".format(6,26))
print("오늘은 {:d}월 {:5.2f}일 입니다.".format(6,26))
print("\n")
a=['파이썬','머신러닝','딥러닝']
print('{} {} {}'.format(a[0],a[1],a[2]))
print('{0} {1} {2}'.format(*a))

오늘은 6월 26일 입니다.
오늘은 6월 26.00일 입니다.


파이썬 머신러닝 딥러닝
파이썬 머신러닝 딥러닝

In [ ]:
name = "홍길동"
age = 20.5
print("이름은 {:>10s}이고 나이는 {:.2f}입니다.".format(name,age))

이름은        홍길동이고 나이는 20.50입니다.